@import '../base/variables';

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $white;
  background-color: $primary;

  &:hover {
    background-color: $primary-hover;
  }
}
